.rich_media {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.6
}

.rich_media_tool {
	display: flex;
	justify-content: space-between;
}

.rich_media {
	-webkit-touch-callout: none;
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
	background-color: #f3f3f3;
	line-height: inherit
}

.rich_media_empty_extra {
	background-color: #fff
}

.rich_media_empty_extra .rich_media_area_primary:before {
	display: none
}
.rich_media img {
	height: auto!important
}

.rich_media h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	font-size: 16px
}

.rich_media * {
	margin: 0;
	padding: 0
}

.rich_media a {
	color: #607fa6;
	text-decoration: none
}

.rich_media_inner {
	font-size: 16px;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

.rich_media_area_primary {
	position: relative;
	padding: 20px 15px 15px;
	background-color: #fff
}

.rich_media_area_primary:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #e5e5e5;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	top: auto;
	bottom: -2px
}

.rich_media_area_primary .original_img_wrp {
	display: inline-block;
	font-size: 0
}

.rich_media_area_primary .original_img_wrp .tips_global {
	display: block;
	margin-top: .5em;
	font-size: 14px;
	text-align: right;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal
}

.rich_media_area_extra {
	padding: 0 15px 0
}

.rich_media_title {
	margin-bottom: 10px;
	line-height: 1.4;
	font-weight: 400;
	font-size: 24px
}

.rich_media_meta_list {
	margin-bottom: 18px;
	line-height: 20px;
	font-size: 0
}

.rich_media_meta_list em {
	font-style: normal
}

.rich_media_meta {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	margin-bottom: 10px;
	font-size: 16px
}

.meta_original_tag {
	display: inline-block;
	vertical-align: middle;
	padding: 1px .5em;
	border: 1px solid #9e9e9e;
	color: #8c8c8c;
	border-top-left-radius: 20% 50%;
	-moz-border-radius-topleft: 20% 50%;
	-webkit-border-top-left-radius: 20% 50%;
	border-top-right-radius: 20% 50%;
	-moz-border-radius-topright: 20% 50%;
	-webkit-border-top-right-radius: 20% 50%;
	border-bottom-left-radius: 20% 50%;
	-moz-border-radius-bottomleft: 20% 50%;
	-webkit-border-bottom-left-radius: 20% 50%;
	border-bottom-right-radius: 20% 50%;
	-moz-border-radius-bottomright: 20% 50%;
	-webkit-border-bottom-right-radius: 20% 50%;
	font-size: 15px;
	line-height: 1.1
}

.meta_enterprise_tag img {
	width: 30px;
	height: 30px!important;
	display: block;
	position: relative;
	margin-top: -3px;
	border: 0
}

.rich_media_meta_text {
	color: #8c8c8c
}

span.rich_media_meta_nickname {
	display: none
}

.rich_media_thumb_wrp {
	margin-bottom: 6px
}

.rich_media_thumb_wrp .original_img_wrp {
	display: block
}

.rich_media_thumb {
	display: block;
	width: 100%
}

.rich_media_content {
	overflow: hidden;
	color: #3e3e3e
}

.rich_media_content * {
	max-width: 100%!important;
	box-sizing: border-box!important;
	-webkit-box-sizing: border-box!important;
	word-wrap: break-word!important
}

.rich_media_content p {
	clear: both;
	min-height: 1em;
	white-space: pre-wrap
}

.rich_media_content em {
	font-style: italic
}

.rich_media_content fieldset {
	min-width: 0
}

.rich_media_content .list-paddingleft-2 {
	padding-left: 30px
}

.rich_media_content blockquote {
	margin: 0;
	padding-left: 10px;
	border-left: 3px solid #dbdbdb
}



@media(min-device-width:375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) {
	.mm_appmsg .rich_media_inner,.mm_appmsg .rich_media_meta,.mm_appmsg .discuss_list,.mm_appmsg .rich_media_extra,.mm_appmsg .title_tips .tips {
		font-size: 17px
	}

	.mm_appmsg .meta_original_tag {
		font-size: 15px
	}
}

@media(min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) {
	.mm_appmsg .rich_media_title {
		font-size: 25px
	}
}

.radius_avatar {
	display: inline-block;
	background-color: #fff;
	padding: 3px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
	vertical-align: middle
}

.radius_avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #eee
}

.cell {
	padding: .8em 0;
	display: block;
	position: relative
}

.cell_hd,.cell_bd,.cell_ft {
	display: table-cell;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap
}

.cell_primary {
	width: 2000px;
	white-space: normal
}

.flex_cell {
	padding: 10px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.flex_cell_primary {
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	box-flex: 1;
	flex: 1
}

.original_tool_area {
	display: block;
	padding: .75em 1em 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: #3e3e3e;
	border: 1px solid #eaeaea;
	margin: 20px 0
}

.original_tool_area .tips_global {
	position: relative;
	padding-bottom: .5em;
	font-size: 15px
}

.original_tool_area .tips_global:after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #dbdbdb;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5)
}

.original_tool_area .radius_avatar {
	width: 27px;
	height: 27px;
	padding: 0;
	margin-right: .5em
}

.original_tool_area .radius_avatar img {
	height: 100%!important
}

.original_tool_area .flex_cell_bd {
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal
}

.original_tool_area .flex_cell_ft {
	font-size: 14px;
	color: #8c8c8c;
	padding-left: 1em;
	white-space: nowrap
}

.original_tool_area .icon_access:after {
	content: " ";
	display: inline-block;
	height: 8px;
	width: 8px;
	border-width: 1px 1px 0 0;
	border-color: #cbcad0;
	border-style: solid;
	transform: matrix(0.71,0.71,-0.71,0.71,0,0);
	-ms-transform: matrix(0.71,0.71,-0.71,0.71,0,0);
	-webkit-transform: matrix(0.71,0.71,-0.71,0.71,0,0);
	position: relative;
	top: -2px;
	top: -1px
}


.selectTdClass{background-color:#edf5fa!important}table.noBorderTable td,table.noBorderTable th,table.noBorderTable caption{border:1px dashed #ddd!important}table{margin-bottom:10px;border-collapse:collapse;display:table;width:100%!important}td,th{word-wrap:break-word;word-break:break-all;padding:5px 10px;border:1px solid #DDD}caption{border:1px dashed #DDD;border-bottom:0;padding:3px;text-align:center}th{border-top:2px solid #BBB;background:#f7f7f7}.ue-table-interlace-color-single{background-color:#fcfcfc}.ue-table-interlace-color-double{background-color:#f7faff}td p{margin:0;padding:0}.res_iframe{display:block;width:100%;background-color:transparent;border:0}.shopcard_iframe{margin:14px 0;height:95px}.vote_area{display:block;position:relative;margin:14px 0;white-space:normal!important}.vote_iframe{display:block;width:100%;height:100%;background-color:transparent;border:0}form{display:none!important}@media screen and (min-width:0\0) and (min-resolution:72dpi){.rich_media_content table{table-layout:fixed!important}.rich_media_content td,.rich_media_content th{width:auto!important}}.tc{text-align:center}.tl{text-align:left}.tr{text-align:right}.tips_global{color:#8c8c8c}.rich_split_tips{margin:20px 0;min-height:24px}.rich_media_tool_tips{margin-bottom:8px}.rich_media_tool{overflow:hidden;padding-top:15px;line-height:32px}.rich_media_tool .meta_primary{float:left;margin-right:10px}.rich_media_tool .meta_extra{float:right;margin-left:10px}.rich_media_tool .meta_praise{margin-right:0;margin-left:8px}.media_tool_meta i{vertical-align:0;position:relative;top:1px;margin-right:3px}.meta_praise{-webkit-tap-highlight-color:rgba(0,0,0,0);outline:0;min-width:3.5em}.meta_praise .praise_num{display:inline-block;vertical-align:top}.icon_praise_gray{background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAA+CAYAAAA1dwvuAAAACXBIWXMAAA7EAAAOxAGVKw4bAAACd0lEQVRYhe2XMWhUMRjHfycdpDg4iJN26CQih4NUlFIc3iTasaAO+iZBnorIId2CDg6PLqWDXSy0p28TJ6ejILgoKiLFSeRcnASLnDf2HPKll8b3ah5NQPB+cHzJl0v+73J5Sf6NwWCAD6kqxoEV4BywCTwA2j59V9QlxrxUNJeBOSkfBtaAHvDcp/O+GkJHJd4H7kr5nm/nOkJHJH4FHkv5WAyhUxLfAgelvBlUKFXFBNCU6oYl+j6oEHohADwFtoDTUn8dTChVxX7gjlSfSJyS+CaYEDCPXs4d4IXkzDR+8BWqfI9SVUyil/ENST20ml8BF4Afu4z9HT3V80B/TAY9CxTABNAHxp1Oj4B1q34dWAamGa5Al0PALfSs3TS/aE1EcERWgQXgozPIN+Ai6O2ljFQVM8BLZJqN0KTEhgj9kvrViqf1wYz5BcoXQ38Pg9uckfiuSigU0xLXowmlqpgCjgNd4FM0IeCKxGcmEUtoRqLZScILpaqYA06iN9/tTTfGLzKvxLKdDCqUquIEcB59xK9GE2J4xLeBn3ZD1abaq/sQqSpmgWvo82rBbTdCPeAA4N69/noXS1XhphaBz27SPPVtapz/FXSBFsNDcgcN3wvkiBEjRoSndAtqLXXKvuvtYfMs+SP3T3tYm6ge1iaqh7UJ62HRTqNZko/mYV3CeVjA9rAuUTxsGd4edrcX1vWwddn2sHmWaA/bWuq4HnYLff3aC7U8bAiaMPyPJp3GhnxCUOlhQxPdwxrieViLbp4lUT2sIbqHNcTzsBYbeZZE9bCGeB7WIrqHNbTzLNnhYWMIlXpYI9Rz8gM8/GsFi3mW/Ace9jf8QZwIX5o4uQAAAABJRU5ErkJggg==) no-repeat 0 0;width:13px;height:13px;vertical-align:middle;display:inline-block;-webkit-background-size:100% auto;background-size:100% auto}.icon_praise_gray.praised{background-position:0 -18px}.praised .icon_praise_gray{background-position:0 -18px}.rich_tips{margin-top:25px;margin-bottom:0;min-height:24px;text-align:center}.rich_tips .tips{display:inline-block;vertical-align:middle}.rich_tips .tips,.rich_tips .rich_icon{vertical-align:middle}.rich_tips .rich_icon{margin-top:-3px 5px 0 0}.rich_tips.with_line{border-top:1px dotted #e1e1e1}.rich_tips.with_line .tips{position:relative;top:-12px;padding-left:16px;padding-right:16px;background-color:#f3f3f3}.rich_tips.with_line{line-height:16px}.rich_tips.with_line .tips{top:-11px;padding-left:.35em;padding-right:.35em}.title_tips .tips{color:#868686;font-size:16px}.loading_tips{margin:36px 0 20px}.title_bottom_tips{margin-top:-10px}.icon_arrow_gray{width:7px}.icon_loading_white{width:16px}.icon_loading_white.icon_before{margin-right:1em}.icon_loading_white.icon_after{margin-left:1em}.btn{display:block;padding-left:14px;padding-right:14px;font-size:18px;text-align:center;text-decoration:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;line-height:42px;-webkit-tap-highlight-color:rgba(255,255,255,0)}.btn.btn_inline{display:inline-block}.btn_primary{background-color:#04be02}.btn_primary:not(.btn_disabled):visited{color:#fff}.btn_primary:not(.btn_disabled):active{color:rgba(255,255,255,0.4);background-color:#039702}.btn_disabled{color:rgba(255,255,255,0.6)}.sougou_body .rich_media_area_primary{margin-top:10px}.sougou_body .rich_media_area_primary:first-child{margin-top:0}.sougou_body .rich_media_area_primary.sougou ul{padding-left:0;list-style-type:none}.sougou_body .rich_media_area_extra{margin-top:10px;background-color:#fff}.sougou_body .rich_media_area_title{font-size:16px;margin-bottom:.5em}.sougou_body .relate_article_list{font-size:15px}.sougou_body .relate_article_link{display:block;padding:.35em 0;color:#8c8c8c;-webkit-tap-highlight-color:rgba(0,0,0,0)}.sougou_body .rich_tips.discuss_title_line{text-align:left;margin-top:0;padding:20px 0 .5em;line-height:1.6}.sougou_body .rich_tips.discuss_title_line .tips{position:static;padding:0;color:#3e3e3e}.sougou_body .rich_tips.with_line .tips{background-color:#fff}.sougou_body .rich_split_tips{margin:0;padding:20px 0}.sougou_body .rich_media_extra .loading_tips{margin:0;padding:20px 0}.emotion_tool{position:relative;overflow:hidden}.pic_emotion_switch_wrp{margin-left:15px;margin-bottom:6px;display:inline-block;font-size:0}.pic_emotion_switch_wrp img{width:35px;display:block}.pic_emotion_switch_wrp .pic_active{display:none}.pic_emotion_switch_wrp:active .pic_default{display:none}.pic_emotion_switch_wrp:active .pic_active{display:block}.emotion_switch{margin-left:15px;margin-bottom:6px;background:transparent url(/mmbizwap/zh_CN/htmledition/images/icon/appmsg/emotion/icon_emotion_tool.2x278965.png) no-repeat 0 0;width:35px;height:35px;vertical-align:middle;display:inline-block;-webkit-background-size:35px auto;background-size:35px auto}.emotion_switch:active{background-position:0 -40px}.emotion_panel_arrow_wrp{position:absolute;margin-top:-6px;margin-left:26px}.emotion_panel_arrow_wrp .emotion_panel_arrow{position:absolute;display:inline-block;width:0;height:0;border-width:6px;border-style:dashed;border-color:transparent;border-top-width:0;border-bottom-color:#e5e5e7;border-bottom-style:solid}.emotion_panel_arrow_wrp .arrow_in{border-bottom-color:#f6f6f8;top:1px}.emotion_panel{background-color:#f6f6f8;position:relative}.emotion_panel:before{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #e3e3e5;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(0.5);transform:scaleY(0.5)}.emotion_panel:after{content:" ";position:absolute;left:0;bottom:0;width:100%;height:1px;border-bottom:1px solid #e3e3e5;-webkit-transform-origin:0 100%;transform-origin:0 100%;-webkit-transform:scaleY(0.5);transform:scaleY(0.5)}.emotion_list_wrp{overflow:hidden;position:relative;font-size:0;white-space:nowrap}.emotion_list{padding:10px 15px 0;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;white-space:normal;display:inline-block;vertical-align:top}.emotion_item{display:inline-block;width:36px;height:36px;margin-bottom:5px;text-align:center;line-height:36px}.emotion_navs{text-align:center;padding-bottom:5px}.emotion_nav{display:inline-block;width:8px;height:8px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;overflow:hidden;background-color:#bbb;margin:0 5px}.emotion_nav.current{background-color:#8c8c8c}.icon_emotion{width:22px;height:22px;vertical-align:middle;display:inline-block;background:transparent url(/mmbizwap/zh_CN/htmledition/images/icon/appmsg/emotion/icon_emotion.2x278965.png) no-repeat 0 0;-webkit-background-size:2520px auto;background-size:2520px auto}.icon_emotion.del{background:transparent url(/mmbizwap/zh_CN/htmledition/images/icon/appmsg/emotion/icon_emotion_tool.2x278965.png) no-repeat 0 0;width:28px;height:28px;}
