.discuss_list {
  margin-top: -5px;
  padding-bottom: 20px;
  font-size: 16px;
}
.discuss_list .discuss_item {
  display: list-item;
  text-align: -webkit-match-parent;
}
.discuss_list .discuss_item .discuss_opr {
  float: right;
}
.discuss_list .discuss_item .discuss_opr .meta_praise {
  display: inline-block;
  text-align: right;
  padding-top: 5px;
  margin-top: -5px;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  min-width: 3.5em;
}
.discuss_list .discuss_item .discuss_opr .tips_global {
  color: #8c8c8c;
}
.discuss_list .discuss_item .user_info {
  min-height: 20px;
  overflow: hidden;
}
.discuss_list .discuss_item .user_info .nickname {
  display: block;
  font-weight: 400;
  font-style: normal;
  color: #727272;
  width: 9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.discuss_list .discuss_item .user_info .avatar {
  position: absolute;
  top: 0;
  left: 0;
  top: 3px;
  width: 35px;
  height: 35px;
  background-color: #ccc;
  vertical-align: top;
  margin-top: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.discuss_list .discuss_item .discuss_message {
  color: #3e3e3e;
  line-height: 1.5;
}
.discuss_list .discuss_item .discuss_extra_info {
  color: #8c8c8c;
  font-size: 12px;
}

/*add like button
.icon_praise_gray {
  background-position: 0 -18px;
  vertical-align: 0;
  position: relative;
  top: 1px;
  margin-right: 3px;
}*/
